*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-image: url(/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.Login-form{
    width: 350px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    color:  rgb(190, 188, 188);
}
.Login-form h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
    text-shadow: 1px 1px 1px rgb(48, 46, 46);
    font-family:cursive;

}
.Login-form p{
    color: white;
    font-size: 20px;
    margin: 15px ;
    text-shadow: 1px 1px 1px rgb(48, 46, 46);
    
}
.Login-form input{
    font-size: 13px;
    width: 100%;
    padding: 12px;
    border: 0;
    outline: none;
    border-radius: 5px;
}
.ho{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0px;
    padding: 7px;
    width: 50%;
    outline: none;
    border-radius: 5px;
    border: 0;
    transition: 3s;

}
.forget{
    border: none;
    /* background-color: transparent; */
    color: blue;
    font-size: 17px;
    position: absolute;
    left: 60%;
    top: 88%;
    border-radius: 6px;
    padding:1px;
    transition: 3s ease-in-out;
}
.ho:hover{
    background-color:grey;
    color: rgba(255, 255, 255, 0.795);
    border-radius: 5px;
}
.forget:hover{
    background-color: grey;
    color: black;
    transition: 3s;
}

